.box{
  height:1000px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dayLight{
  background: yellow;
}

#button{
 
  text-decoration: solid black;
  margin: 50px;
  padding: 10px;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}
